[Unit]
Description=Probetron volatile /var/tmp
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target systemd-tmpfiles-setup.service
After=swap.target

[Mount]
What=tmpfs
Where=/var/tmp
Type=tmpfs
Options=mode=1777,strictatime,nosuid,nodev,noexec,size=32M,nr_inodes=8k

[Install]
WantedBy=local-fs.target
